body
{
    background-color: #333;
}
.container {
    color: #887fe4; /* Цвет текста */
}

input[type=submit] {
    background-color: dimgray;
    color: wheat; /* Цвет текста */
}
input[type=submit]:hover {
    background-color: #333333;
    color: wheat; /* Цвет текста */
}

.form-input {

    color: #887fe4; /* Цвет текста */
}
INPUT[type="text"] {
    background-color: lightgrey; /* Цвет фона */
    color: #887fe4; /* Цвет текста */
}
INPUT[type="password"] {
    background-color: lightgrey; /* Цвет фона */
    color: #887fe4; /* Цвет текста */
}